@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
:root {
  --BACKGROUND--1: hsl(0, 0%, 100%);
  --BACKGROUND--2: hsl(0, 0%, 98%);
  --TEXT--1: hsl(200, 15%, 8%)
  --TEXT--2: hsl(0, 0%, 100%);
  --INPUT--1: hsl(0,0%,100%);
  --SEARCH--1: hsl(0, 0%, 52%);
  --FILL--1: 0;
}

[data-theme=dark] {
  --BACKGROUND--1: hsl(210, 22%, 22%);
  --BACKGROUND--2: hsl(205, 26%, 17%);
  --TEXT--1: hsl(0, 0%, 100%);
  --TEXT--2: hsl(200, 15%, 8%);
  --INPUT--1: hsl(210, 22%, 22%);
  --SEARCH--1: hsl(0, 0%, 100%);
  --FILL--1:1;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Nunito Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--BACKGROUND--2);
  color: var(--TEXT--1);
  transition: background 0.5s ease;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding-block: 35px;
  padding-inline: 20px;
  background: var(--BACKGROUND--1);
  box-shadow: 10px 0px 15px 1px hsla(209deg, 23%, 22%, 0.6);
}
nav h1 {
  font-size: 20px;
  font-weight: 800;
  word-spacing: 1.58;
}
nav .switcher__section {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}
nav .switcher__section .material-symbols-outlined {
  font-variation-settings: "FILL" var(--FILL--1), "wght" 400, "GRAD" 1, "opsz" 48;
  color: var(--TEXT--1);
}
nav .switcher__section span:last-child {
  font-weight: 600;
  letter-spacing: 1.2px;
  font-size: 18px;
}
nav .switcher__section input {
  position: absolute;
  width: 150px;
  opacity: 0;
  cursor: pointer;
}

main .search__section {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding-inline: 40px;
}
main .search__section .search {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  width: 40%;
  padding-inline: 15px;
  height: 50px;
  border: 1px solid var(--TEXT--2);
  background-color: var(--INPUT--1);
  box-shadow: 0px 0px 25px -10px hsla(0deg, 0%, 0%, 0.5);
  border-radius: 5px;
}
main .search__section .search input {
  font-size: 16px;
  color: var(--SEARCH--1);
  width: 100%;
  flex-grow: 1;
  background-color: transparent;
  border: none;
}
main .search__section .search .material-symbols-outlined {
  color: var(--SEARCH--1);
  margin-inline: 20px;
  cursor: pointer;
}
main select {
  appearance: none;
  outline: 0;
  background: var(--INPUT--1);
  background-image: none;
  width: 100%;
  height: 100%;
  color: var(--TEXT--1);
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding-inline-start: 25px;
  font-weight: 600;
  font-size: 16px;
}
main select option {
  font-weight: 300;
}
main .select {
  position: relative;
  display: block;
  width: 15em;
  height: 50px;
  line-height: 3;
  border-radius: 0.25em;
  padding-bottom: 0px;
  box-shadow: 0px 0px 25px -10px hsla(0deg, 0%, 0%, 0.5);
}
main .select span {
  position: absolute;
  right: 15px;
  bottom: 11px;
}
main .country__section {
  padding-block: 100px;
  padding-inline: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}
main .country__section .country {
  display: flex;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--TEXT--2);
  background-color: var(--INPUT--1);
  box-shadow: 0px 0px 25px -10px hsla(0deg, 0%, 0%, 0.5);
  border-radius: 10px;
  cursor: pointer;
}
main .country__section .country .flag {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
main .country__section .country .flag img {
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
}
main .country__section .country .country__name {
  padding-inline: 25px;
  margin-block: 10px;
}
main .country__section .country .country__name h1 {
  font-size: 18px;
}
main .country__section .country .description {
  padding-inline: 25px;
}
main .country__section .country .description h1 {
  margin-inline: 3px;
  font-size: 16px;
  font-weight: 800;
}
main .country__section .country .description span {
  padding-inline: 5px;
  font-weight: 600;
}
main .country__section .hide__country {
  display: none;
  transition: display 0.5s ease-in-out;
}/*# sourceMappingURL=main.css.map */