@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --BACKGROUND--1: hsl(0, 0%, 100%);
  --BACKGROUND--2: hsl(0, 0%, 98%);
  --TEXT--1 : hsl(200, 15%, 8%)
  --TEXT--2: hsl(0, 0%, 100%);
  --INPUT--1 : hsl(0,0%,100%);
  --SEARCH--1 : hsl(0, 0%, 52%);
  --FILL--1 : 0;
}
[data-theme="dark"] {
  --BACKGROUND--1: hsl(210, 22%, 22%);
  --BACKGROUND--2: hsl(205, 26%, 17%);
  --TEXT--1: hsl(0, 0%, 100%);
  --TEXT--2: hsl(200, 15%, 8%);
  --INPUT--1 : hsl(210, 22%, 22%);
  --SEARCH--1 : hsl(0, 0%, 100%);
  --FILL--1 :1;
  // --TEXT--1 : hsl(0,0%,100%);
  // --TEXT--1: hsl(209, 23%, 22%);
  // --INPUT--1: hsl(0, 0%, 52%);
  // --TEXT--2: hsl(0, 0%, 100%);
}
*,
*::after,
*::before 
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Nunito Sans', sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: var(--BACKGROUND--2);
  color : var(--TEXT--1);
  transition: background .5s ease;
}

